[unit]
#textdomain wesnoth-Wesnoth_Holdem
id=Three Spades
name= _ "Three Spades"
image="cards/three-spades.png"
hitpoints=2
movement_type=none
movement=1
experience=500
level=0
alignment=neutral
advanceto=null
cost=1
usage=fighter
unit_description= _ "Three of Spades"
[/unit]
