[unit]
#textdomain wesnoth-Wesnoth_Holdem
id=Two Diamonds
name= _ "Two Diamonds"
image="cards/two-diamonds.png"
hitpoints=2
movement_type=none
movement=1
experience=500
level=0
alignment=neutral
advanceto=null
cost=1
usage=fighter
unit_description= _ "Two of Diamonds"
[/unit]
